$pinkcolor: #fe33c0;
// $colorlogo:#fcfcfc;
$colortimeline2:#6f45a7;
$colortimeline1:#fe33c0;
$bgtransparent: rgba(250, 250, 250, 0.9);
$bgtransparent1: rgba(250, 250, 250, 0.7);
$bggrissection:#f0eeee;
$fontdarkpurpul:#4b1a8b