@import "variables.scss";
@import "mixines.scss";
//************************** typo *************************************//
@font-face {
    font-family: "Neon";
    src: url(assets/polices/Neon.ttf) format('truetype');
}
@font-face {
    font-family: "GeosansLight";
    src: url(assets/polices/GeosansLight.ttf) format('truetype');
}
//**************************** html body ******************************//
html, body{
    font-family:"GeosansLight";
    margin:0;
    padding:0;
    background: #000;
    p {
    color: #33115e;
    line-height: 1em;
    }
    h5 {
    color: $fontdarkpurpul;
    font-size: 1.2em;
    }
}
//****************************** menu navbar ******************************//
header{
    nav ul li a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        }
    .bg-faded {
        background: black;
    }
    ul{
        list-style: none;
    }
    li{
        display: inline-block;
        transition: all 0.5s ease-in;
        padding: 10px;
    }  
    span,a.nav-link{
        color:$pinkcolor;
                &:hover {
            color: rgb(217, 193, 250);
        }
    }
}     
//*************************** animation logo ****************************//
.logo{
    font-family: "Neon";
    position: absolute;
    top: 17.5em;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 4px;
    color: rgb(250, 218, 244);
    padding: 2rem 3rem 2.5rem;
    border: 0.2rem solid rgb(217, 193, 250);
    border-radius: 1rem;
    text-transform: uppercase;
    animation: flicker 3s infinite alternate; 
    h3 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.6em;
    }
    h1{
    font-size: 2.5rem;
    }    
}
.logo::-moz-selection {
  background-color: $fontdarkpurpul;
  color: $pinkcolor;
}
.logo::selection {
  background-color: $fontdarkpurpul;
  color: $pinkcolor;
}
.logo:focus {
  outline: none;
}
//************************** Animate neon logo ***************************//
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem $pinkcolor,
            0 0 4rem $pinkcolor,
            0 0 6rem $pinkcolor,
            0 0 8rem $pinkcolor,
            0 0 10rem $pinkcolor;
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem $fontdarkpurpul,
            inset 0 0 1rem $fontdarkpurpul,
            0 0 4rem $fontdarkpurpul,
            inset 0 0 4rem $fontdarkpurpul;        
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
//********************** effet neon titre *******************************//
.neon-text {
    // @include effet-neon-rose-border;
    @include effet-neon-rose-text;
    
}
//*********************** image background contact **********************//
.bg{
    background-image: url('assets/images/image6.jpg');
    @include background;
}
//*********************** image background home *************************//
.bg-0{  
    background-image: url('assets/images/image4.jpg');
    @include background;
}
//****************** image background parcours pro **********************//
.bg-1{
    background-image: url('assets/images/image5.jpg');
    @include background;
}
//****************** image background compétences **********************//
.bg-2{
    background-image: url('assets/images/image3.jpg');
    @include background;
}
//**************************** home *********************************//
.home {
    height:100vh;
}
//*************************** présentation *****************************//
.presentation{
    // height: 95vh;
    h6{
        color: #a078d4;
        font-size: large;
        text-align: justify;
    }
    .image-pres{
        width: 300px;
    }
}
//************************* compétences *********************************//
.Compétences{

    .bloc{
        background-color: $bgtransparent1;
    }
}
.img-comp{
    width: 20%;
}
//*********************** parcours pro timeline1 ***********************//
.item {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    .image {
        padding: 1em 1.9em;
        z-index: 1;
    > div {
        position: relative;
        text-align: center;
        font-size: 0.8em;
        &::after {
        content: '';
        width: 40%;
        height: 0;
        border-bottom: 2px solid $colortimeline1;
        ;
        position: absolute;
        top: 2.75em;
        left: 6em;
        }
    }
    img {
        border-radius: 50%;
        height: 6em;
        border: 0.35em solid $colortimeline1;
    }
    span {
        display: block;
        clear: both;
        padding: 0.25em 0;
        margin: 0.5em 0;
        background-color: $bgtransparent;
        border:$pinkcolor solid 1px;
    }
}
.details {
    position: relative;
    flex-grow: 1;
    div{
    background-color: $bgtransparent;
    }
    > div {
        width: 100%;
        border: 2px solid $colortimeline1;
        ;
        border-radius: 0.5em;
        padding: 0.75em;
        margin: 1em 0;
        h5{
        margin: 0;
        padding: 0 0 0.5em 0;
        letter-spacing: 0.1em;
    }
    p {
        line-height: 150%;
    }
    }
    &::before {
        content: '';
        width: 0;
        height: 100%;
        border-left: 2px solid $colortimeline1;
        position: absolute;
        top: 20px;
        left: -4em;
    }
}
}
//************************ portfolio modal **************************//
.portfolio{
    h5{
        color: white;
    }
.modal-full {
    width: 100vw;
    height: 150vh;
}
.modal-full .modal-dialog {
    margin: 0;
    height: 100%;
}
.modal-full .modal-content {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.modal-full .modal-content .modal-body {
    padding: 0;
}
.modal-full .modal-content .carousel {
    height: 100vh;
}
.modal-full .modal-content .carousel-actions {
    height: 100px;
    width: 100%;
    position: relative;
}
.modal-full .modal-content .carousel-inner {
    height: 100%;
}
.modal-full .modal-content .carousel-inner>.carousel-item {
    height: 100%;
    top: 0;
}
.modal-full .modal-content .carousel-inner>.carousel-item>img {
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
}
button.close {
    color: #fff; 
    opacity: 1;
    font-family:Helvetica, sans-serif;
    &:hover {
        color: rgb(206, 205, 205);}
}
.modal-title{
    opacity: 1;
    color: #fff;
}
.modal-link{
display: flex;
font-size: 20px;
}
.carousel-item p{
    color: #fff;
    font-size: 20px;
    padding-top: 1%;
}
}
//************************** formation-timeline2 ******************//
.formation {
    h5 {
    color: $colortimeline2;
    font-size: 1.4em;
}
    p {
    color: rgb(219, 217, 217);
    }
    .circle {
        padding: 16px 20px;
        border-radius: 30%;
        background-color: $colortimeline2;
        color:rgb(243, 242, 242);
        max-height: 50px;
        z-index: 2;
    }
    .connecting-lines.row .col-2 {
        align-self: stretch;
    }
    .connecting-lines.row .col-2::after {
        content: "";
        position: absolute;
        border-left: 3px solid $colortimeline2;
        z-index: 1;
    }
    .connecting-lines.row .col-2.bottom::after {
        height: 50%;
        left: 50%;
        top: 50%;
    }
    .connecting-lines.row .col-2.full::after {
        height: 100%;
        left: calc(49.8% - 2px);
    }
    .connecting-lines.row .col-2.full-left::after {
        height: 100%;
        left: 50%;
        top: 0;
    }
    .connecting-lines.row .col-2.top::after {
        height: 50%;
        left: 50%;
        top: 0;
    } 
    .timeline div {
        padding: 0;
        height: 40px;
    }
        .timeline hr {
        border-top: 3px solid $colortimeline2;
        margin: 0;
        top: 17px;
        position: relative; 
    }
    .timeline .col-2 {
        display: flex;
        overflow: hidden;
    }
    .timeline .corner {
        border: 3px solid$colortimeline2;
        width: 100%;
        position: relative;
        border-radius: 15px;
    }
    .timeline .top-right {
        left: 50%;
        top: -50%;
    }
    .timeline .left-bottom {
        left: -50%;
        top: calc(50% - 3px);
    }
    .timeline .top-left {
        left: -50%;
        top: -50%;
    }
    .timeline .right-bottom {
        left: 50%;
        top: calc(50% - 3px);
    }
}
//****************************** contact **************************//
form{
    p{
    color: white;
    padding: 0;
    }
    input{
        background-color: $bgtransparent;
        width: 280px;
        border: white 1px solid;
    }
    textarea {
        background-color: $bgtransparent;
        width: 300px;
        height: 210px;
        border: white 1px solid;
        }
    button{
        width: 70px;
        border: white 1px solid;
    &:hover {
        background-color: $pinkcolor;
        }
    }
}
//************************* footer ***********************//
footer{
    background-color: black ;
.icones i{
    font-size:36px;
    color:#fff;
} 
.text-light{
    font-size: 16px;
    color:#fff;
}
}
//************************* toute les sections ***********************//
section{
    padding-top: 45px;
}
//************************* media queries ***********************//

@media screen and (max-width: 1030px) {
    header{
        li{
            padding: 0px;
        }  
    } 
    .logo {
        top: 500px;
        letter-spacing: 2px;
        padding: 10px, 10px;
    }
    .carousel-item>img {
        width: 80%;
    }
    }
@media screen and (max-width: 770px) {
    header{
        li{
            padding: 10px;
        }  
    } 
    .logo {
        top: 300px;
        padding: 20px;
    h1{
        font-size: 2rem;
        } 
    h2{
        font-size: 1rem;
    }
    }
    .bg{
        @include background_mobile2;
    }
}

@media screen and (max-width: 440px) {
    .bg-0{  
        @include background_mobile;
    }
    .bg{
        @include background_mobile1;
    }
    .presentation{
        h6{
            font-size: small;
        }
    }
    .logo {
        top: 230px;
        padding: 15px;
    h1{
        font-size: 0.8rem;
        } 
        h2{
            font-size: 7px;
        }
    }
}
