@charset "UTF-8";
@font-face {
  font-family: "Neon";
  src: url(assets/polices/Neon.ttf) format("truetype");
}

@font-face {
  font-family: "GeosansLight";
  src: url(assets/polices/GeosansLight.ttf) format("truetype");
}

html, body {
  font-family: "GeosansLight";
  margin: 0;
  padding: 0;
  background: #000;
}

html p, body p {
  color: #33115e;
  line-height: 1em;
}

html h5, body h5 {
  color: #4b1a8b;
  font-size: 1.2em;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .bg-faded {
  background: black;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding: 10px;
}

header span, header a.nav-link {
  color: #fe33c0;
}

header span:hover, header a.nav-link:hover {
  color: #d9c1fa;
}

.logo {
  font-family: "Neon";
  position: absolute;
  top: 17.5em;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 4px;
  color: #fadaf4;
  padding: 2rem 3rem 2.5rem;
  border: 0.2rem solid #d9c1fa;
  border-radius: 1rem;
  text-transform: uppercase;
  -webkit-animation: flicker 3s infinite alternate;
          animation: flicker 3s infinite alternate;
}

.logo h3 {
  font-size: 1.4em;
}

.logo h2 {
  font-size: 1.6em;
}

.logo h1 {
  font-size: 2.5rem;
}

.logo::-moz-selection {
  background-color: #4b1a8b;
  color: #fe33c0;
}

.logo::selection {
  background-color: #4b1a8b;
  color: #fe33c0;
}

.logo:focus {
  outline: none;
}

@-webkit-keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem #fe33c0, 0 0 4rem #fe33c0, 0 0 6rem #fe33c0, 0 0 8rem #fe33c0, 0 0 10rem #fe33c0;
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #4b1a8b, inset 0 0 1rem #4b1a8b, 0 0 4rem #4b1a8b, inset 0 0 4rem #4b1a8b;
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #4b1a8b, inset 0 0 1rem #4b1a8b, 0 0 4rem #4b1a8b, inset 0 0 4rem #4b1a8b;
  }
  20%, 24%, 55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem #fe33c0, 0 0 4rem #fe33c0, 0 0 6rem #fe33c0, 0 0 8rem #fe33c0, 0 0 10rem #fe33c0;
    -webkit-box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #4b1a8b, inset 0 0 1rem #4b1a8b, 0 0 4rem #4b1a8b, inset 0 0 4rem #4b1a8b;
            box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #4b1a8b, inset 0 0 1rem #4b1a8b, 0 0 4rem #4b1a8b, inset 0 0 4rem #4b1a8b;
  }
  20%, 24%, 55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.neon-text {
  -webkit-box-shadow: 0 0 0.1vw 0.2vw #f7c1ef, 0 0 0.4vw 0.2vw #f76be4, 0 0 2vw 0.2vw #f706d6,  inset 0 0 1.5vw 0.4vw #f14fdc, inset 0 0 0.4vw 0.2vw #f76be4, inset 0 0 0.5vw 0.2vw #f7c1ef;
          box-shadow: 0 0 0.1vw 0.2vw #f7c1ef, 0 0 0.4vw 0.2vw #f76be4, 0 0 2vw 0.2vw #f706d6,  inset 0 0 1.5vw 0.4vw #f14fdc, inset 0 0 0.4vw 0.2vw #f76be4, inset 0 0 0.5vw 0.2vw #f7c1ef;
  border-radius: 0.2rem;
  color: #f7cef1;
  text-shadow: .1vw 0vw  .25vw #f38be5, .2vw 0vw  .25vw #f38be5, .4vw 0vw  .25vw #f38be5,  .1vw 0vw    0vw #f551df, .2vw 0vw    0vw #f551df, .4vw 0vw    0vw #f551df, .1vw 0vw   .1vw #f551df, .2vw 0vw   .1vw #f551df, .4vw 0vw   .1vw #f551df, .1vw 0vw    2vw #f551df, .2vw 0vw    2vw #f551df, .4vw 0vw    2vw #f551df,  .1vw 0vw    1vw #f706d6, .2vw 0vw    1vw #f706d6, .4vw 0vw    1vw #f706d6, .1vw 0vw    5vw #f706d6, .2vw 0vw    5vw #f706d6, .4vw 0vw    5vw #f706d6, .1vw 0vw   10vw #f706d6, .2vw 0vw   10vw #f706d6, .4vw 0vw   10vw #f706d6;
}

.bg {
  background-image: url("assets/images/image6.jpg");
  /* hauteur */
  width: 100%;
  /* Center et placer l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-0 {
  background-image: url("assets/images/image4.jpg");
  /* hauteur */
  width: 100%;
  /* Center et placer l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-1 {
  background-image: url("assets/images/image5.jpg");
  /* hauteur */
  width: 100%;
  /* Center et placer l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-2 {
  background-image: url("assets/images/image3.jpg");
  /* hauteur */
  width: 100%;
  /* Center et placer l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home {
  height: 100vh;
}

.presentation h6 {
  color: #a078d4;
  font-size: large;
  text-align: justify;
}

.presentation .image-pres {
  width: 300px;
}

.Compétences .bloc {
  background-color: rgba(250, 250, 250, 0.7);
}

.img-comp {
  width: 20%;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.item .image {
  padding: 1em 1.9em;
  z-index: 1;
}

.item .image > div {
  position: relative;
  text-align: center;
  font-size: 0.8em;
}

.item .image > div::after {
  content: '';
  width: 40%;
  height: 0;
  border-bottom: 2px solid #fe33c0;
  position: absolute;
  top: 2.75em;
  left: 6em;
}

.item .image img {
  border-radius: 50%;
  height: 6em;
  border: 0.35em solid #fe33c0;
}

.item .image span {
  display: block;
  clear: both;
  padding: 0.25em 0;
  margin: 0.5em 0;
  background-color: rgba(250, 250, 250, 0.9);
  border: #fe33c0 solid 1px;
}

.item .details {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item .details div {
  background-color: rgba(250, 250, 250, 0.9);
}

.item .details > div {
  width: 100%;
  border: 2px solid #fe33c0;
  border-radius: 0.5em;
  padding: 0.75em;
  margin: 1em 0;
}

.item .details > div h5 {
  margin: 0;
  padding: 0 0 0.5em 0;
  letter-spacing: 0.1em;
}

.item .details > div p {
  line-height: 150%;
}

.item .details::before {
  content: '';
  width: 0;
  height: 100%;
  border-left: 2px solid #fe33c0;
  position: absolute;
  top: 20px;
  left: -4em;
}

.portfolio h5 {
  color: white;
}

.portfolio .modal-full {
  width: 100vw;
  height: 150vh;
}

.portfolio .modal-full .modal-dialog {
  margin: 0;
  height: 100%;
}

.portfolio .modal-full .modal-content {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.portfolio .modal-full .modal-content .modal-body {
  padding: 0;
}

.portfolio .modal-full .modal-content .carousel {
  height: 100vh;
}

.portfolio .modal-full .modal-content .carousel-actions {
  height: 100px;
  width: 100%;
  position: relative;
}

.portfolio .modal-full .modal-content .carousel-inner {
  height: 100%;
}

.portfolio .modal-full .modal-content .carousel-inner > .carousel-item {
  height: 100%;
  top: 0;
}

.portfolio .modal-full .modal-content .carousel-inner > .carousel-item > img {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0;
}

.portfolio button.close {
  color: #fff;
  opacity: 1;
  font-family: Helvetica, sans-serif;
}

.portfolio button.close:hover {
  color: #cecdcd;
}

.portfolio .modal-title {
  opacity: 1;
  color: #fff;
}

.portfolio .modal-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.portfolio .carousel-item p {
  color: #fff;
  font-size: 20px;
  padding-top: 1%;
}

.formation h5 {
  color: #6f45a7;
  font-size: 1.4em;
}

.formation p {
  color: #dbd9d9;
}

.formation .circle {
  padding: 16px 20px;
  border-radius: 30%;
  background-color: #6f45a7;
  color: #f3f2f2;
  max-height: 50px;
  z-index: 2;
}

.formation .connecting-lines.row .col-2 {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.formation .connecting-lines.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #6f45a7;
  z-index: 1;
}

.formation .connecting-lines.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.formation .connecting-lines.row .col-2.full::after {
  height: 100%;
  left: calc(49.8% - 2px);
}

.formation .connecting-lines.row .col-2.full-left::after {
  height: 100%;
  left: 50%;
  top: 0;
}

.formation .connecting-lines.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.formation .timeline div {
  padding: 0;
  height: 40px;
}

.formation .timeline hr {
  border-top: 3px solid #6f45a7;
  margin: 0;
  top: 17px;
  position: relative;
}

.formation .timeline .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.formation .timeline .corner {
  border: 3px solid #6f45a7;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.formation .timeline .top-right {
  left: 50%;
  top: -50%;
}

.formation .timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.formation .timeline .top-left {
  left: -50%;
  top: -50%;
}

.formation .timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

form p {
  color: white;
  padding: 0;
}

form input {
  background-color: rgba(250, 250, 250, 0.9);
  width: 280px;
  border: white 1px solid;
}

form textarea {
  background-color: rgba(250, 250, 250, 0.9);
  width: 300px;
  height: 210px;
  border: white 1px solid;
}

form button {
  width: 70px;
  border: white 1px solid;
}

form button:hover {
  background-color: #fe33c0;
}

footer {
  background-color: black;
}

footer .icones i {
  font-size: 36px;
  color: #fff;
}

footer .text-light {
  font-size: 16px;
  color: #fff;
}

section {
  padding-top: 45px;
}

@media screen and (max-width: 1030px) {
  header li {
    padding: 0px;
  }
  .logo {
    top: 500px;
    letter-spacing: 2px;
    padding: 10px, 10px;
  }
  .carousel-item > img {
    width: 80%;
  }
}

@media screen and (max-width: 770px) {
  header li {
    padding: 10px;
  }
  .logo {
    top: 300px;
    padding: 20px;
  }
  .logo h1 {
    font-size: 2rem;
  }
  .bg {
    /* hauteur */
    width: 100%;
    /* Center et placer l'image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50px;
  }
}

@media screen and (max-width: 440px) {
  .bg-0 {
    /* hauteur */
    width: 100%;
    /* Center et placer l'image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    position: relative;
  }
  .bg {
    /* hauteur */
    width: 100%;
    /* Center et placer l'image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 150px;
  }
  .presentation h6 {
    font-size: small;
  }
  .logo {
    top: 230px;
    padding: 15px;
  }
  .logo h1 {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */